/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

body {
    overflow-x: hidden;
    position: relative;
}

main {
    overflow: hidden;
}

#section1,
#section2,
#section3 {
    margin: 0 auto;
    width: 80vw;

    > div {
        article {
            @include md {
                display: flex;

                .title {
                    margin-right: 30px;
                    margin-top: -100px;
                }
            }
        }
    }
}

#background {
    overflow-x: hidden;
    position: absolute;
    width: 100vw;
    z-index: -1;
    @include md {
        height: 5000px;
        overflow-y: hidden;
        // height: 650vh;
    }
    @include lg {
        height: 5020px;
    }
    @include xxl {
        height: 5700px;
    }

    svg {
        margin-left: calc(-1280px + 30vw);
        margin-top: calc(-500px + 50vh);
        width: 2360px;
        @include md {
            margin-left: calc(-2166px + 50vw);
            margin-top: calc(-1400px + 80vh);
            width: 4667px;
        }
        @include xxl {}

        > g {
            .black-lines {
                path {
                    stroke-width: 30;
                }
            }

            .md,
            .xl {
                display: none;
            }
            @include md {
                .md {
                    display: block;
                }

                .sm {
                    display: none;
                }
            }
            @include xxl {
                .md {
                    display: none;
                }

                .xl {
                    display: block;
                }
            }
        }
    }
}

.title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 20px;
    @include md {
        width: 117px;
    }

    li {
        font-family: sofia-pro, sans-serif;
        font-size: rem-calc(20);
        font-weight: 700;
        height: 200px;
        margin-right: 3px;
        overflow: hidden;
        text-orientation: mixed;
        white-space: nowrap;
        writing-mode: vertical-rl;
        @include md {
            font-size: rem-calc(28);
            height: 250px;
        }
        @include lg{
            transform: scale(1.2);
            margin-right: 5px;
        }

        &::after {
            background-color: $gold;
            content: '';
            display: inline-block;
            height: 100%;
            margin-top: 5px;
            width: 20px;
            margin-right: 2px;
            @include sm{
                margin-right: 5px;
            }
        }
    }
}

p {
    font-family: sofia-pro, sans-serif;
    font-style: italic;
    font-weight: 400;
    line-height: rem-calc(28);
    @include md {
        font-size: rem-calc(18);
    }
}

.bootimg {
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    margin-bottom: -30px;
    margin-left: calc(-210px + 50vw);
    width: 400px;
    @include sm {
        height: 600px;
        margin-left: calc(-280px + 50vw);
        width: 600px;
    }
    @include md {
        height: 820px;
        margin-left: calc(-430px + 50vw);
        width: 820px;
    }
    @include xxl {
        height: 1000px;
        margin-left: calc(-500px + 50vw);
        width: 1000px;
    }
}
