/* =============
    Base
============= */
figure {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

body{
    overflow-x: hidden;
    position: relative;
}

#background{
    overflow-x: hidden;
    position: absolute;
    width: 100vw;
    // left:1px;
    svg{
        // transform: scale(.2);
        width:2360px;
        margin-left: -1215px;
        margin-top:-200px;
        g{
                .md, .lg{
                    display: none;
                }


        }

    }

}

.title {
    display: flex;
    flex-direction: row-reverse;
    li {
        font-family: sofia-pro, sans-serif;
        font-weight: 700;
        font-style: normal;
        text-orientation: mixed;
        white-space: nowrap;
        writing-mode: vertical-rl;
        font-size: rem-calc(20);
        position: relative;
        &::after{
            display: block;
            background-color: $gold;
            width: 10px;
            height: 100%;
            content:'';
            position: absolute;
            bottom:0;
            left:0;

        }
    }
}
