/* =============
    Hero
============= */
#hero {
    height: 100vh;
    > div {
        padding-top: 43vh;
        margin-left: 5vw;
        div {
            background-image: url("../img/universal/FullLogo.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 250px;
            height: 45px;
            // border:2px solid red;
            display: block;
            @include md{
                width:425px;
                height:75px;
            }
            @include xxl{
                width:680px;
                height:115px;
            }
        }

        h3 {
            font-family: sofia-pro;
            color: $gold;
            font-weight: 700;
            margin-top: 10px;
            @include xxl{
                font-size: rem-calc(35);
                margin-top: 20px;
                margin-left: 20px;
            }
        }
    }
}
