/* =============
    Hero
============= */
#hero {
    height: 100vh;

    > div {
        margin-left: 5vw;
        padding-top: 43vh;

        div {
            background-image: url("../img/universal/FullLogo.svg");
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            height: 45px;
            width: 250px;
            @include md {
                height: 75px;
                width: 425px;
            }
            @include xxl {
                height: 115px;
                width: 680px;
            }
        }

        h3 {
            color: $gold;
            font-family: sofia-pro;
            font-weight: 700;
            // margin-top: 10px;
            margin-left: 5px;
            @include md {
                font-size: rem-calc(22);
            }
            @include xxl {
                font-size: rem-calc(35);
                // margin-top: 20px;
                margin-left: 20px;
            }
        }
    }
}
