/* =============
    Section 2
============= */
#section2{
    margin-top: 550px;
    @include md{
    margin-top: 700px;
    }

    @include xxl{
        margin-top: 500px;
    }

    >div{
        article{
            @include md{
                margin-left:30vw;
            }
            @include lg{
                margin-left:40vw;
            }
            p{
                margin-left: 22vw;
                width:173px;
                @include md{
                    width:230px;
                    margin-left:0;
                }
            }
        }
        .bootimg{
            background-image: url('../img/universal/boot2.png');
            display: none;
            @include md{
                margin-left: calc(-750px + 50vw);
                display: block;
            }
            @include lg{
                margin-left: calc(-700px + 35vw);
            }

            @include xxl{
                margin-left: calc(-900px + 35vw);
                margin-top: -250px;
            }
        }
    }
}
