/* =============
    Footer
============= */
footer {
    margin-bottom: 40px;
    margin-top: 500px;
    @include md {
        margin-top: 950px;
    }
    @include lg {
        margin-top: 1000px;
    }
    @include xxl {
        margin-top: 1300px;
    }

    div {
        display: flex;
        justify-content: center;
        @include md {
            justify-content: flex-start;
        }

        h2 {
            font-family: sofia-pro;
            font-size: rem-calc(16);
            font-weight: 700;
            padding: 0 10px;
            position: relative;
            white-space: nowrap;
            @include sm {
                font-size: rem-calc(18);
            }
            @include md {
                font-size: rem-calc(20);
                margin-left: calc(10vw - 30px);
            }
            @include lg {
                font-size: rem-calc(24);
            }
            @include xxl {
                font-size: rem-calc(30);
                margin-left: 50vw;
            }

            &::after,
            &::before {
                background-color: $gold;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                top: 0;
                width: 100vw;
                z-index: -2;
                @include xxl {
                    bottom: 5px;
                    height: 15px;
                    top: auto;
                }
            }

            &::before {
                left: -100vw;
            }

            &::after {
                right: -100vw;
            }

            a {
                color: $gold;
                text-decoration: none;
                transition: 0.25s;

                &:hover {
                    border-bottom: 5px solid $gold;
                }
            }
        }
    }
}
