/* =============
    Header
============= */
header {
    left: 3vw;
    position: fixed;
    // position: absolute;
    top: 5vh;
    z-index: 100;
    // top:-60vh;
    @include sm {
        left: 5vw;
    }

    #noSM {
        @include md {
            display: none;
        }
    }

    #MDPlus {
        display: none;
        @include md {
            display: block;
        }
    }

    div {
        a {
            color: $gold;
            font-family: sofia-pro, sans-serif;
            font-size: rem-calc(14);
            font-weight: 700;
            overflow: hidden;
            text-decoration: none;
            text-orientation: mixed;
            white-space: nowrap;
            writing-mode: vertical-rl;
            @include sm {
                font-size: rem-calc(16);
            }
            @include lg {
                font-size: rem-calc(18);
            }

            &::after,
            &::before {
                background-color: $gold;
                content: '';
                display: inline-block;
                height: 0;
                // left:-20vw;
                left: 0;
                margin-right: 2px;
                margin-top: 5px;
                position: absolute;
                transition: 0.5s;
                width: 10px;
                @include sm {
                    width: 12px;
                }
                @include lg {
                    width: 15px;
                    // width:150vw;
                }
            }

            &::after {
                bottom: calc(-100vh - 5px);
                transform-origin: right;
            }

            &::before {
                top: calc(-100vh - 15px);
                transform-origin: top;
            }

            &:active::after,
            &:active::before,
            &:focus::after,
            &:focus::before,
            &:hover::after,
            &:hover::before {
                height: 100vh;
            }
        }
    }
}
